@charset "utf-8";

#tablewrapper {
	margin: 0 auto;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}

#tableheader {
	height: 40px;
	width: 100%;
}

.search {
	background: #FFFFFF;
	border: 1px solid #C6D5E1;
	float: left;
	margin: 0 0 2px;
	padding: 6px 0;
	width: 99.65%; 
}

#tableheader select {
	float: left;
	font-size: 12px;
	height: 28px;
	margin: 0 0 0 5px;
	padding: 4px;
	width: 125px;
}

#tableheader input {
	color: #999999;
	float: left;
	font-size: 12px;
	padding: 4px;
	margin-left: 4px;
	width: 120px;
}

.details {
	margin-right: 10px;
	padding-top: 6px;
}

.details div {
	float: left;
	font-size: 12px;
	line-height: 28px;
	margin-left: 15px;
}

.tinytable {
	border-bottom: medium none;
	border-left: 1px solid #797979;
	border-top: 1px solid #797979;
	width: 100%;
	overflow-x: scroll;
}

.tinytable th {
	background: #D3E6F5;
	text-align: left;
	color: #5D7682;
	border: 1px solid #797979;
	border-left: none;
	border-top: none;
}

.tinytable th h6 {
	font-size: 14px;
	font-weight: normal;
	padding: 6px 8px 8px;
}

.tinytable td {
	padding: 4px 2px 6px;
	border-bottom: 1px solid #797979;
	border-right: 1px solid #797979;
}

.tinytable .head h6 {
	background: url("../images/sort.png") 7px center no-repeat;
	cursor: pointer;
	padding-left: 18px;
}

.tinytable .desc h6 {
	background: url("../images/desc.png") 7px center no-repeat;
	cursor: pointer;
	padding-left: 18px;
}

.tinytable .asc h6 {
	background: url("../images/asc.png") 7px center no-repeat;
	cursor: pointer;
	padding-left: 18px;
}

.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {
	color: #144289;
}

.tinytable .evenrow td {
	background: #ffffff;
}

.tinytable .oddrow td {
	background: #F0F0F0;
}

.tinytable td.evenselected {
	background: #ECF2F6;
}

.tinytable td.oddselected {
	background: #DCE6EE;
}

.tinytable tfoot {
	background: #FFFFFF;
	font-weight: bold;
}

.tinytable tfoot td {
	padding: 6px 8px 8px;
}

#tablefooter {
	height: 20px;
	margin-top: 12px;
}

#tablenav {
	float: right;
}

#tablenav img {
	cursor: pointer;
}

#tablenav div {
	float: left;
	margin-right: 15px;
}

#tablenav .one, #tablelocation .one {
	width: 66px !important;
	height: 25px;
}

#tablelocation {
	float: right;
	font-size: 12px;
}

#tablelocation select {
	margin-right: 3px;
}

#tablelocation div {
	float: left;
	margin-left: 15px;
}

.page {
	margin-top: 2px;
	font-style: italic;
}

#selectedrow td {
	background: #c6d5e1;
}
.pagination {
	color: #000000;
	text-decoration: underline;
	padding: 0 5px;
}
.pagination:hover, .pagination.active {
	color: #000000;
	text-decoration: none;
}

.pageCount {
	float: right;
}
#tf1_inboxTbl a{
	display:inline-block;
	width:100%;
	height:6px;
}
#tf1_inboxTbl a, #tf1_outboxTbl a, #tf1_draftsTbl a, #tf1_simContactsTbl a, #tf1_portforwardTbl a, #tf1_ipFilterTbl a{
	color: #40464B;
	text-decoration: none;
}
#tf1_inboxTbl a:hover, #tf1_outboxTbl a:hover, #tf1_draftsTbl a:hover, #tf1_simContactsTbl a:hover, #tf1_portforwardTbl a:hover,#tf1_ipFilterTbl a:hover{
	color: #40464B;
	text-decoration: underline;
}

