/* Datewheel overlay */
.dw {
	min-width: 170px;
	padding: 0 10px;
	position: absolute;
	top: 5%;
	left: 0;
	z-index: 1001;
	color: #000;
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	text-shadow: none;
	margin-left: -13px;
}
.dwi {
	position: static;
	display: inline-block;
}
.dwwr {
	zoom: 1;
}

/* Datewheel wheel container wrapper */
.dwc {
	float: left;
	margin: 0 2px 5px 2px;
	padding-top: 30px;
}
.dwcc {
	clear: both;
}
/* Datewheel label */
.dwl {
	text-align: center;
	line-height: 30px;
	height: 30px;
	white-space: nowrap;
	position: absolute;
	top: -30px;
	width: 100%;
	color: #006699;
	font-size: 11px !important;
}

/* Datewheel wheel container */
.dwrc {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.dwwc {
	margin: 0;
	padding: 0 2px;
	position: relative;
	background: #86C2FD;
	zoom: 1;
}
/* Datewheel wheels */
.dwwl {
	margin: 4px 2px;
	position: relative;
	background: #048BB0;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5eaefd), color-stop(0.35, #5eaefd), color-stop(0.50, #048BB0), color-stop(0.65, #5eaefd), color-stop(1, #045690));
	background: -moz-linear-gradient(#045690 0%, #5eaefd 35%, #048BB0 50%, #5eaefd 65%, #045690 100%);
	background: -ms-linear-gradient(#045690 0%, #5eaefd 35%, #048BB0 50%, #5eaefd 65%, #045690 100%);
	background: -o-linear-gradient(#045690 0%, #5eaefd 35%, #048BB0 50%, #5eaefd 65%, #045690 100%);
}
.dww {
	margin: 0 2px;
	overflow: hidden;
	position: relative;
}
.dwsc .dww {
	color: #ffffff;
	background: #048BB0;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #045690), color-stop(0.45, #048BB0), color-stop(0.55, #048BB0), color-stop(1, #045690));
	background: -moz-linear-gradient(#045690 0%, #048BB0 45%, #048BB0 55%, #045690 100%);
	background: -ms-linear-gradient(#045690 0%, #048BB0 45%, #048BB0 55%, #045690 100%);
	background: -o-linear-gradient(#045690 0%, #048BB0 45%, #048BB0 55%, #045690 100%);
}
.dww ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2;
}
.dww li {
	list-style: none;
	margin: 0;
	padding: 0 5px;
	display: block;
	text-align: center;
	line-height: 24px;
	font-size: 13px;
	white-space: nowrap;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
/* Valid entry  selected date and time value part*/
.dww li.dw-v {
	opacity: 1;
	filter: Alpha(Opacity=100);
}
/* Datewheel wheel overlay  for top and bottom gradient*/
.dwwo {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #048BB0), color-stop(0.52, rgba(4,86,144,0)), color-stop(0.48, rgba(4,86,144,0)), color-stop(1, #048BB0));
	background: -moz-linear-gradient(#048BB0 0%, rgba(4,86,144,0) 52%, rgba(4,86,144,0) 48%, #048BB0 100%);
	background: -ms-linear-gradient(#048BB0 0%, rgba(4,86,144,0) 52%, rgba(4,86,144,0) 48%, #048BB0 100%);
	background: -o-linear-gradient(#048BB0 0%, rgba(4,86,144,0) 52%, rgba(4,86,144,0) 48%, #048BB0 100%);
}
/* Datewheel Background Center line */
.dwwol {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0;
	margin-top: -1px;
	border-top: 1px solid #045690;
	border-bottom: 1px solid #048BB0;
}
.displayTime {
	border: none !important;
}

.displayTimeTwo {
	border: none !important;
	background: #EAEAEA !important;
}